mixin action-info(profile, timestamp)
  a(href=profile.profileUrl)
    img.action-info-user-avatar.img-circle(
      src=profile._json.avatar_url, 
      alt=profile.displayName + ' Avatar'
    )
  span.action-info-timestamp= moment.unix(timestamp).fromNow()

mixin exp-info(exp)
  .exp-name= exp.title
  .exp-details
    span.exp-details-item
      span.glyphicon.glyphicon-book
      = exp.owner + '/' + exp.repo

    span.exp-details-item
      span.glyphicon.glyphicon-bookmark
      = exp.branch