include _mixins
extends _layout

block content
  .container.with-fixed-header
    .row
      .col-sm-8
        .exp-header
          a(href='/exp/' + exp.id)
            h1.exp-name= exp.title

          .exp-details
            span.exp-details-item
              span.glyphicon.glyphicon-book
              - var repo = exp.owner + '/' + exp.repo;
              a(href='https://github.com/' + repo)
                = repo

            span.exp-details-item
              span.glyphicon.glyphicon-bookmark
              a(href='https://github.com/' + repo + '/tree/' + exp.branch)
                = exp.branch
        if !eventTypes.length
          .alert.alert-info(role='alert').
            There's no data to show yet.

      .col-sm-4
        .panel.panel-default
          .panel-heading
            h3.panel-title Builds

          .panel-body
            if !builds || !builds.length
              p You haven't shipped any builds yet. Ship one and start getting data.

            form(method='post', action='/exp/' + exp.id + '/ship')
              input.btn.btn-default.btn-block.btn-sm.btn-primary(
                type='submit',
                value='Ship'
              )

          if builds && builds.length
            ul.list-group
              each build in builds.reverse()
                li.list-group-item
                  .clearfix
                    a.build-number.pull-right(href='/builds/'+exp.id+'/'+build.id)
                      ='#' + build.id
                    a.build-commit(href=build.commit.html_url)
                      code=build.commit.sha.slice(0,5)
                      = ' ' +build.commit.commit.message.slice(0, 50)

                  .clearfix
                    +action-info(build.profile, build.timestamp)

                  

                - buildId--;
