extends layout

block content
  .container.with-fixed-header
    .row
      .news.col-sm-8
        h3.news-heading What's new

        for item in news
          .news-item
            .news-item-timestamp.pull-right=moment.unix(item.timestamp).fromNow()

            a.news-item-user(href=item.profile.profileUrl)
              img.news-item-user-avatar.img-circle(
                src=item.profile._json.avatar_url, 
                alt=item.profile.displayName + ' Avatar'
              )
              =item.profile.displayName

            span.news-item-action
              case item.details.type
                when 'newExp'
                  =' created '
                  a(href='/exp/' + item.details.id)= item.details.title
                when 'newExpBuild'
                  =' shipped '
                  a(href='/builds/' + item.details.exp.id + '/' + item.details.id)
                    = 'build #' + item.details.id
                  =' of '
                  a(href='/exp/' + item.details.exp.id)= item.details.exp.title

      .col-sm-4
        .panel.panel-default
          .panel-heading
            h3.panel-title Your experiments

          .panel-body
              if !exps || !exps.length
                p You haven't created any experiments yet. Launch your first today.
              a.btn.btn-default.btn-block.btn-primary.btn-sm(href='/new-exp') New
            
          if exps && exps.length
            ul.list-group
              each exp in exps
                li.list-group-item
                  a.exp(href='/exp/' + exp.id)
                    .exp-name= exp.title
                    .exp-details
                      span.exp-details-item
                        span.glyphicon.glyphicon-book
                        = exp.owner + '/' + exp.repo

                      span.exp-details-item
                        span.glyphicon.glyphicon-bookmark
                        = exp.branch





        