extends _layout

mixin branch(branch, isBase)
  tr(class=isBase && 'info')
    td
      = branch.branchId
      = ' '
      if isBase
        span.label.label-default.label-primary Base

    if branch.latest && branch.latest.commit
      td
        - var commit = branch.latest.commit

        a(href=commit.html_url)
          code= commit.sha.substr(0, 5)
          = ' '
          = commit.message.length < 30 ? commit.message : commit.message.substr(0, 30) + '...'

      - var performance = branch.latest.performance || []
      - var duration = performance.reduce(function(total, item) {return total + item.time/1000}, 0)

      td= duration.toFixed(2) + ' seconds'

      td= branch.latest.timestamp && moment.unix(branch.latest.timestamp).fromNow()

    else
      td(colspan='2') None yet

    td
      if branch.lock
        span.label.label-default= branch.lockStatus
        = ' '
        if isVouched
          form(method='post', action='/branch/' + branch.branchId + '/unlock')
            input.btn.btn-default.btn-xs(type='submit', value='Unlock')
      else
        if isVouched
          form(method='post', action='/branch/' + branch.branchId + '/ship')
            input.btn.btn-default.btn-primary.btn-xs(type='submit', value='Ship')

block content
  .container.with-fixed-header
    table.table
      thead
        tr
          th Branch
          th(colspan='4') Last Shipment
      tbody
        +branch(base, true)
        for branch in recent
          if branch.branchId !== base.branchId
            +branch(branch)